/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  /*Radial Gradient*/
  background-image: radial-gradient(#fbd72b 5.66%, #f9484a 94.35%);
  filter: brightness(93%);

  border: 1px solid black;
  margin-left: 200px;
  padding: 1px 16px;
  height: 2000px;
}

li {
  margin-top: 10px;
}

.time-completxity {
  border: 1px solid red;
}

.space-completxity {
  border: 1px solid red;
}
